/*contact.css*/

/*components__________________________________*/
header {
    /*background-color: #f6ebcd;*/
    padding-top: 1.5%;
    padding-bottom: 1%;
    color: #ad7f04;
}
/*.btn {
	font-family: "Raleway";
	background: #28bfd7;
	border-radius: 28px;
   	color: #ffffff;
    font-size: 20px;
  	padding: 10px 20px 10px 20px;
    text-decoration: none;
}*/
button.standard {
	font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .175vw;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  /*background: #93f0eb;*/
  background-color: #e7a905;
  border-color: #e7a905;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 14px 22px 14px 22px;
  text-decoration: none;
  border-color: #e7a905;
}
button:focus {
	outline:0;
}
button.standard:hover {
  background: #61e8e1;
  text-decoration: none;
}
button.standard:active {
  background: #94efeb;
  background-image: -webkit-linear-gradient(top, #94efeb, #61E8E1);
  background-image: -moz-linear-gradient(top, #94efeb, #61E8E1)
  background-image: -ms-linear-gradient(top, #94efeb, #61E8E1);
  background-image: -o-linear-gradient(top, #94efeb, #61E8E1);
  background-image: linear-gradient(to bottom, #94efeb, #61E8E1);
  text-decoration: none;
}

.js_nav_active_box {
/*	border: 2px solid #f6ebcd;*/
  border: 2px solid #f9f2de;
  padding: 8%;
  margin-top: -9%;
  margin-bottom: -9%;
}

/*__________________________________*/
main.middle {
  white-space: nowrap;
  /*background-color: rgba(254,238,198, 0.8);
  background-color: rgba(246,235,205,0.7);*/
  background-color: #f9f2de;
  margin-top: -1.5%;
  padding-top: 6%;
}
.middle > * {
  vertical-align: middle;
}
.left_half_viewport {
	width: 50%;
  padding-bottom: 6%;
}
.right_half_viewport {
	width: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
  padding-bottom: 6%;
}
.contact_info {
	display: inline-block;
	color: goldenrod;
	font-size: 2.25vw;
	font-family: "Raleway";
	letter-spacing: .175vw;
	margin: 0;
	text-align: center;
/*	padding-left: 5%;*/
  padding-bottom: 7%;
}
.contact_info h2 {
	font-size: 2.25vw;
	text-transform: uppercase;
  color: #423C33;
  color: #C5952C;
  color: #ad7f04;
  padding-top: 4%;
  padding-bottom: 1%;
}
hr.contact_divider { 
  display: block;
  width: 35%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-width: 3px;
}
.contact_info p {
	font-size: 1.1vw;
	padding: 1% 0;
  color: #ad7f04;
}
i.fa {
	color: goldenrod;
	padding: 3% 3%;
}
.classes_daily_banner {
	background-color: #ad7f04;
	display: block;
	color: #fff;
	font-size: 1.1vw;
	font-family: "Raleway";
	letter-spacing: .175vw;
	text-transform: uppercase;
	margin: 0;
	text-align: center;
	padding: 3% 0;
}
#map {
  	height: 35vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.contact_info_button {
	margin-bottom: 4%;
  margin-top: 2%
}

