/*contact.css*/

/*TESTING OUT THE FONT FACE THING*/
@font-face {
    font-family: 'foxglow-regular';
    src: url('../fonts/Foxglow-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
/*components__________________________________*/
header {
    /*background-color: #f6ebcd;*/
    padding-top: 1.5%;
    padding-bottom: 1%;
    color: #ad7f04;
}
/*.btn {
	font-family: "Raleway";
	background: #28bfd7;
	border-radius: 28px;
   	color: #ffffff;
    font-size: 20px;
  	padding: 10px 20px 10px 20px;
    text-decoration: none;
}*/
button.standard {
	font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .175vw;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  /*background: #93f0eb;*/
  background-color: #e7a905;
  border-color: #e7a905;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 14px 22px 14px 22px;
  text-decoration: none;
  border-color: #e7a905;
}
button:focus {
	outline:0;
}
button.standard:hover {
  background: #fac025;
  background-image: -webkit-linear-gradient(top, #fac025, #f2b206);
  background-image: -moz-linear-gradient(top, #fac025, #f2b206);
  background-image: -ms-linear-gradient(top, #fac025, #f2b206);
  background-image: -o-linear-gradient(top, #fac025, #f2b206);
  background-image: linear-gradient(to bottom, #fac025, #f2b206);
  text-decoration: none;
}
button.standard:active {
  background: #ce9704;
  text-decoration: none;
}

.js_nav_active_box {
    border: 2px solid #f9f2de;
    padding: 8% 5% 8% 2%;
    margin-top: -9%;
    margin-bottom: -9%;
    margin-left: 13.5%;
}

/*__________________________________*/
main.middle {
  white-space: nowrap;
  /*background-color: rgba(254,238,198, 0.8);
  background-color: rgba(246,235,205,0.7);*/
  background-color: #f9f2de;
  margin-top: -1.5%;
  padding-top: 6%;
}
.middle > * {
  vertical-align: middle;
}
.left_half_viewport {
	width: 50%;
  padding-bottom: 6%;
}
.right_half_viewport {
	width: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
  padding-bottom: 6%;
}
.contact_info {
	display: inline-block;
	color: goldenrod;
	font-size: 2.25vw;
	font-family: "Raleway";
	letter-spacing: .175vw;
	margin: 0;
	text-align: center;
/*	padding-left: 5%;*/
  padding-bottom: 7%;
}
.contact_info h2 {
	font-size: 2.25vw;
	text-transform: uppercase;
  color: #423C33;
  color: #C5952C;
  color: #ad7f04;
  padding-top: 4%;
  padding-bottom: 1%;
}
hr.contact_divider { 
  display: block;
  width: 35%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-width: 3px;
}
.contact_info p {
	font-size: 1.1vw;
	padding: 1% 0;
  color: #ad7f04;
}
.classes_daily_banner {
	background-color: #fff;
  display: block;
  color: #e7a905;
  font-size: 2vw;
  font-family: "Raleway";
  letter-spacing: .175vw;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
#map {
  	height: 35vw;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.contact_info_button {
	margin-bottom: 4%;
  margin-top: 2%
}
.find_class_button {
  margin-left: -1%;
}

/*pricing.html_____________________________*/
main.prices_page {
  background-color: #F9F2DE;
  font-family: 'Raleway', sans-serif;
}
.prices_boxes {
  padding: 3% 0;
}
.prices_boxes section {
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
  padding: 2% 2%;
  text-align: center;
}
.prices_boxes section div {
  border: 2px solid #E7A905;
  padding: 3% 2% 6% 2%;
  color: #7E7E7E;
  background-color: #fff;
  min-height: 9vw;
}
.prices_boxes section div.drop_in,
.prices_boxes section div.new_member_special {
    position: relative;
    top: 3vw;
}
section h3.pricing_header {
  text-align: center;
  font-size: 2vw;
  padding: 1% 0 2% 0;
  font-family: 'Open Sans', sans-serif;
}
.prices_boxes section table {
  width: 100%;
  text-align: center;
}
.prices_boxes section table td {
  padding: 2% 0 3% 0;
}
.prices_boxes section table td.buy_now {
  color: #e7a905;
  font-weight: bold;
  cursor: text;
}
table tr td.table_subheader,
p.class_packages_disclaimers,
p.new_member_disclaimers {
  font-size: 0.8vw;
  padding-top: 0;
}
p.new_member_disclaimers {
  position: absolute;
  top: 8vw;
  left: 3.5vw;
}
p.class_packages_disclaimers.first {
  position: absolute;
  top: 37vw;
  left: 38vw;
  padding-top: 1%;
  color: #7e7e7e;
}
/*p.class_packages_disclaimers.second {
  position: absolute;
  top: 114%;
  left: 11%;
}*/
.add_ons {
  color: #7E7E7E;
  padding: 3% 5%;
}
.add_ons h3 {
  font-size: 2vw;
}
.add_ons_underline {
  display: block;
  border: 2px solid #ad7f04;;
}
.add_ons table td:nth-child(2) {
  padding: 2% 27%;
}



