/*contact.css*/

/*TESTING OUT THE FONT FACE THING*/
@font-face {
    font-family: 'foxglow-regular';
    src: url('../fonts/Foxglow-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
/*components__________________________________*/
header {
    /*background-color: #f6ebcd;*/
    padding-top: 1.5%;
    padding-bottom: 1%;
    color: #ad7f04;
}
/*.btn {
	font-family: "Raleway";
	background: #28bfd7;
	border-radius: 28px;
   	color: #ffffff;
    font-size: 20px;
  	padding: 10px 20px 10px 20px;
    text-decoration: none;
}*/
button.standard {
	font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .175vw;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  /*background: #93f0eb;*/
  background-color: #e7a905;
  border-color: #e7a905;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 14px 22px 14px 22px;
  text-decoration: none;
  border-color: #e7a905;
}
button:focus {
	outline:0;
}
button.standard:hover {
  background: #fac025;
  background-image: -webkit-linear-gradient(top, #fac025, #f2b206);
  background-image: -moz-linear-gradient(top, #fac025, #f2b206);
  background-image: -ms-linear-gradient(top, #fac025, #f2b206);
  background-image: -o-linear-gradient(top, #fac025, #f2b206);
  background-image: linear-gradient(to bottom, #fac025, #f2b206);
  text-decoration: none;
}
button.standard:active {
  background: #ce9704;
  text-decoration: none;
}

.js_nav_active_box {
    /*border: 2px solid #f9f2de;*/
    border-top: 2px solid #f9f2de;
    border-right: 2px solid #f9f2de;
    border-left: 2px solid #f9f2de;
    padding: 8% 5% 8% 5%;
    margin-top: -9%;
    margin-bottom: -9%;
    margin-left: 13.5%;
}

/*__________________________________*/
main.middle {
  white-space: nowrap;
  /*background-color: rgba(254,238,198, 0.8);
  background-color: rgba(246,235,205,0.7);*/
  background-color: #f9f2de;
  margin-top: -1.5%;
  padding-top: 6%;
}
.middle > * {
  vertical-align: middle;
}
.left_half_viewport {
	width: 50%;
  padding-bottom: 6%;
}
.right_half_viewport {
	width: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
  padding-bottom: 6%;
}
.contact_info {
	display: inline-block;
	color: goldenrod;
	font-size: 2.25vw;
	font-family: "Raleway";
	letter-spacing: .175vw;
	margin: 0;
	text-align: center;
  padding-bottom: 7%;
}
.contact_info h2 {
  font-family: 'Open Sans', sans-serif;
	font-size: 2.25vw;
	/*text-transform: uppercase;*/
  /*color: #423C33;
  color: #C5952C;*/
  color: #ad7f04;
  padding-top: 4%;
  padding-bottom: 1%;
}
hr.contact_divider { 
  display: block;
  width: 41%;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-width: 3px;
}
.contact_info p {
	font-size: 1.1vw;
  line-height: 188%;
	padding: 1% 0;
  color: #ad7f04;
}
.classes_daily_banner {
	background-color: #ad7f04;
  display: block;
  color: #FFF;
  font-family: "Raleway";
  letter-spacing: .175vw;
  text-align: center;
  margin: 0;
  width: 53vw;
  margin-top: 4%;
}
.classes_daily_banner h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    padding-bottom: 1%;
}
.classes_daily_banner p {
  font-size: 1vw;
  line-height: 134%;
  white-space: normal;
  color: #FFF;
  padding: 3% 6% 3% 3%;
}
#map {
	height: 35vw;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#legend {
  font-family: "Raleway", sans-serif;
  background: #fff;
  padding: 1vw;
  margin: 5% 1% 7% 5%;
  border: 3px solid #7E7E7E;
}
#legend h3 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  font-size: 1.5vw;
  padding-bottom: 1vw;
  color: #7E7E7E;
}
#legend img {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.gm-style img {
  max-width: 2vw;
}
.contact_info_button,
.find_class_button {
  display: inline-block;
  margin: 8% 3% 2% 3%;
}


/*pricing.html_____________________________*/
main.prices_page {
  background-color: #F9F2DE;
  font-family: 'Raleway', sans-serif;
}
.prices_boxes {
  padding: 3% 0;
}
.prices_boxes section {
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
  padding: 2% 2%;
  text-align: center;
}
.prices_boxes section.two_thirds {
  display: inline-block;
  width: 66%;
  box-sizing: border-box;
  padding: 5% 2% 2% 2%;
  text-align: center;
}
.prices_boxes section div {
  border: 2px solid #E7A905;
  padding: 3% 2% 6% 2%;
  color: #7E7E7E;
  background-color: #fff;
  min-height: 9vw;
  box-shadow: -6px 7px 26px rgba(126,126,126,0.8);
}
.prices_boxes section div.drop_in,
.prices_boxes section div.new_member_special {
  position: relative;
  /*top: 3vw;*/
  top: 0.5vw;
}
.prices_boxes section div.mat_towel {
  position: relative;
  top: 7vw;
}
section h3.pricing_header {
  text-align: center;
  font-size: 1.8vw;
  padding: 1% 0 2% 0;
  font-family: 'Open Sans', sans-serif;
}
.prices_boxes section table {
  width: 100%;
  text-align: center;
}
.prices_boxes section table td {
  padding: 2% 0 1% 0;
  font-size: 1vw;
}
.prices_boxes section table td.buy_now {
  color: #e7a905;
  font-weight: bold;
  cursor: text;
}
table tr td.table_subheader,
table tr td.price_breakdown,
p.class_packages_disclaimers,
p.new_member_disclaimers {
  font-size: 0.8vw;
  padding-top: 0;
}
table tr td.price_breakdown {
  /*padding-bottom: 3%;*/
  padding-bottom: 0;
}
p.new_member_disclaimers {
  position: absolute;
  top: 8vw;
  left: 3.5vw;
}
p.class_packages_disclaimers.first {
  position: absolute;
  top: 66vw;
  left: 21vw;
  color: #7e7e7e;
}
/*p.class_packages_disclaimers.second {
  position: absolute;
  top: 114%;
  left: 11%;
}*/
.add_ons {
  color: #7E7E7E;
  padding: 3% 2%;
  border: 2px solid #E7A905;
  padding: 3% 2% 6% 2%;
  color: #7E7E7E;
  background-color: #fff;
  min-height: 9vw;
}
.add_ons h3 {
  font-size: 1.8vw;
  font-family: 'Open Sans', sans-serif;
  padding: 1% 0 1% 0;
}
.add_ons_underline {
  display: block;
  border: 1px solid #E7A905;
}
.add_ons p{
  padding: 1% 0;
}
section.glow_guidelines {
  padding: 0 0 4% 3%;
  color: #7E7E7E;
}
.guidelines_header {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw; 
}
span.glow_guidlines_font {
  font-family: 'foxglow-regular';
  color: #E7A905;
  font-size: 7vw;
  font-weight: 100;
  padding-right: 1%;
}
hr.guidelines_underline {
  color: #ad7f04;
  border: 3px solid #fff;
  width: 27vw;
  margin: -1% 0 1% 1.5%;
}
.glow_guidelines p,
.glow_guidelines ul {
  line-height: 1.8vw; 
  font-size: 1vw;
}
.glow_guidelines ul {
  padding-left: 3%;
}

/*PRICING QUERIES________________*/

/*annoying positioning issue*/
@media screen and (max-width: 2050px) and (min-width: 1500px) {
  p.class_packages_disclaimers.first {
    top: 66vw;
  }
}
@media screen and (max-width: 1265px) and (min-width: 111px) {
  p.class_packages_disclaimers.first {
    top: 67.5vw;
  }
}
@media screen and (max-width: 811px) and (min-width: 550px) {
  .prices_boxes section {
    width: 32%;
  }
}
@media screen and (max-width: 549px) {
  .prices_boxes section,
  .prices_boxes section.two_thirds {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section h3.pricing_header  {
    font-size: 2.5vw;
  }
  .prices_boxes section table td {
    font-size: 1.8vw;
  }
  table tr td.price_breakdown {
    font-size: 1.2vw;
  }
  p.class_packages_disclaimers.first {
    top: 72.5vw;
    left: 38vw;
  }
  p.new_member_disclaimers {
    position: absolute;
    top: 14.5vw;
    left: 25.5vw;
  }
  .prices_boxes section div.mat_towel {
    position: static;
    top: 7vw;
  }
  section.glow_guidelines {
    padding: 6% 0 4% 12%;
  }
  .glow_guidelines p,
  .glow_guidelines ul {
    font-size: 1.8vw;
    line-height: 2.5vw;
  }
  hr.guidelines_underline {
    border: 2px solid #fff;
    width: 27vw;
    margin: -1% 0 1% 1.5%;
  }
}
@media screen and (max-width: 400px) {
  p.class_packages_disclaimers.first {
    top: 74.5vw;
    left: 38vw;
  }
  section.glow_guidelines {
    padding: 0% 0 5% 12%;
  }
}

/*schedule.html_____________________________*/
main#schedule_embed,
main#events_embed {
  background-color: #F9F2DE;
}
div#mb_schedule,
div#mb_events {
  margin: 0 5%;
  padding: 2% 0;
}


