/*contact.css*/

/*TESTING OUT THE FONT FACE THING*/
@font-face {
    font-family: 'foxglow-regular';
    src: url('../fonts/Foxglow-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
/*components__________________________________*/
header {
    /*background-color: #f6ebcd;*/
    padding-top: 1.5%;
    padding-bottom: 1%;
    color: #ad7f04;
}

.js_nav_active_box {
    /*border: 2px solid #f9f2de;*/
    border-top: 2px solid #f9f2de;
    border-right: 2px solid #f9f2de;
    border-left: 2px solid #f9f2de;
    padding: 8% 5% 8% 5%;
    margin-top: -9%;
    margin-bottom: -9%;
    margin-left: 13.5%;
}
/*components queries__________________________*/
@media screen and (max-width: 945px) and (min-width: 745px) {
  .js_nav_active_box {
    padding: 4% 5% 8% 5%;
    margin-top: -7%;
  }
}
@media screen and (max-width: 744px) and (min-width: 631px) {
  .js_nav_active_box {
    padding: 1% 5% 8% 5%;
    margin-top: -4%;
  }
}
@media screen and (max-width: 630px) and (min-width: 421px) {
  .js_nav_active_box {
    padding: 0 5% 8% 5%;
    margin-top: -7%;
  }

}
/* BUTTON STUFF ______________________________*/
.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.action-button {
  position: relative;
  padding: 2% 4%;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .175vw;
  font-size: 1.2vw;
  color: #FFF;
  text-decoration: none;  
}
.color {
  background-color: #FFA737;
  border-bottom: 5px solid #d9a25d;
  text-shadow: 0px -2px #d9a25d;
}
.action-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

/*CONTACT __________________________________*/
main.middle {
  white-space: nowrap;
  /*background-color: rgba(254,238,198, 0.8);
  background-color: rgba(246,235,205,0.7);*/
  background-color: #f9f2de;
  margin-top: -1.5%;
  padding-top: 4%;
}
.middle > * {
  vertical-align: middle;
}
.left_half_viewport {
	width: 50%;
  padding-bottom: 6%;
}
.right_half_viewport {
	width: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
  padding-bottom: 6%;
}
.contact_info {
	display: inline-block;
	color: goldenrod;
	font-size: 2.25vw;
	font-family: "Raleway";
	letter-spacing: .175vw;
	margin: 0;
	text-align: center;
  padding-bottom: 7%;
}
.contact_info h2 {
  font-family: 'Open Sans', sans-serif;
	font-size: 2.25vw;
	/*text-transform: uppercase;*/
/*  color: #ad7f04;*/
  color: #7E7E7E;
  padding-top: 4%;
  padding-bottom: 1%;
}
hr.contact_divider { 
  display: block;
  width: 41%;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  border-width: 3px;
}
.contact_info p {
	font-size: 1.1vw;
  line-height: 188%;
	padding: 1% 0;
  /*color: #ad7f04;*/
  color: #7E7E7E;
}
.classes_daily_banner {
	background-color: #ad7f04;
  display: block;
  color: #FFF;
  font-family: "Raleway";
  letter-spacing: .175vw;
  text-align: center;
  width: 44vw;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
}
.classes_daily_banner h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    padding-bottom: 1%;
}
.classes_daily_banner p {
  font-size: 0.8vw;
  line-height: 134%;
  white-space: normal;
  color: #FFF;
  padding: 3% 6% 3% 3%;
  /*border: 2px solid #E7A905;*/
/*  border: 2px solid #ffffff;*/
  color: #7E7E7E;
  background-color: #fff;
/*  min-height: 9vw;*/
  box-shadow: -6px 7px 26px rgba(126,126,126,0.8);
}
#map {
	height: 35vw;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#legend {
  font-family: "Raleway", sans-serif;
  background: #fff;
  padding: 1vw;
  margin: 5% 1% 7% 5%;
  border: 3px solid #7E7E7E;
}
#legend h3 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  font-size: 1.5vw;
  padding-bottom: 1vw;
  color: #7E7E7E;
}
#legend img {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}
.gm-style img {
  max-width: 2vw;
}
.contact_info_button,
.find_class_button {
  display: inline-block;
  margin: 7% 3% 2% 3%;
}
div.contact_info_buttons {
  display: block;
  margin-left: 19%; 
}
/*contact queries _____________________________*/
@media screen and (max-width: 1440px) and (min-width: 801px){
  .color {
    border-bottom: 3px solid #d9a25d;
  }
}
@media screen and (max-width: 1275px) and (min-width: 801px){
  main.middle {
    margin-top: 0;
  }
}
@media screen and (max-width: 800px) {
  .contact_info p {
    font-size: 1.4vw;
  }
  .classes_daily_banner p {
    font-size: 1vw;
  }
  hr.contact_divider {
    border-width: 2px;
  }
  .color {
    border-bottom: 2px solid #d9a25d;
  }
  .action-button {
    padding: 2.5% 4.5%;
  }
}
@media screen and (max-width: 629px) and (min-width: 421px) {
  main.middle {
    margin-top: 1%;
  }
 .left_half_viewport, 
 .right_half_viewport {
    display: block;
    width: 100%;
    padding-bottom: 6%;
  }
  .contact_info h2 {
      padding-top: 1%;
  }
  .action-button {
    padding: 2% 3%;
  }
  div.contact_info_buttons {
    margin-left: 30%;
  }
  .classes_daily_banner {
    width: 59vw;
    margin-top: 1%;
  }
  .classes_daily_banner p {
    box-shadow: -3px 5px 11px rgba(126,126,126,0.8);
  }
  .contact_info_button, .find_class_button {
    margin: 4% 3% 6% 3%;
  }
}
@media screen and (max-width: 420px) {
  .contact_info h2 {
    font-size: 4vw;
  }
  .contact_info p {
    font-size: 2.5vw;
  }
  .classes_daily_banner {
    width: 90vw;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .classes_daily_banner p {
    font-size: 2vw;
  }
  .classes_daily_banner p {
    box-shadow: -3px 3px 9px rgba(126,126,126,0.8);
  }
  .action-button {
    font-size: 2vw;
  }
  div.contact_info_buttons {
    margin-left: 8%;
    margin-bottom: 15%;
  }
  #map {
    height: 75vw;
  }
  .action-button {
    font-size: 2.7vw;
    padding: 3% 9%;
  }
}
@media screen and (max-width: 420px) {
  .contact_info h2 {
    font-size: 4.3vw;
  }
  .contact_info p {
    font-size: 2.8vw;
  }
  .classes_daily_banner p {
    font-size: 2.2vw;
  }
}
/*pricing.html_____________________________*/
main.prices_page {
  background-color: #F9F2DE;
  font-family: 'Raleway', sans-serif;
}
.prices_boxes {
  padding: 2% 0;
}
.prices_boxes section {
  display: inline-block;
  width: 33%;
  box-sizing: border-box;
  padding: 2% 2%;
  text-align: center;
}
.prices_boxes section.two_thirds {
  display: inline-block;
  width: 66%;
  box-sizing: border-box;
  padding: 5% 2% 2% 2%;
  text-align: center;
}
.prices_boxes section div {
  border: 2px solid #E7A905;
  padding: 3% 2% 6% 2%;
  color: #7E7E7E;
  background-color: #fff;
  min-height: 9vw;
  box-shadow: -6px 7px 26px rgba(126,126,126,0.8);
}
.prices_boxes section div.drop_in,
.prices_boxes section div.new_member_special {
  position: relative;
  /*top: 3vw;*/
  top: 0.5vw;
}
.prices_boxes section div.mat_towel {
  position: relative;
  top: -1.2vw;
}
section h3.pricing_header {
  text-align: center;
  font-size: 1.8vw;
  padding: 1% 0 2% 0;
  font-family: 'Open Sans', sans-serif;
}
.prices_boxes section table {
  width: 100%;
  text-align: center;
}
.prices_boxes section table td {
  padding: 2% 0 1% 0;
  font-size: 1vw;
}
.prices_boxes section table td.buy_now {
  color: #e7a905;
  font-weight: bold;
  cursor: text;
}
table tr td.table_subheader,
table tr td.price_breakdown,
p.class_packages_disclaimers,
p.new_member_disclaimers,
p.yearly_disclaimer {
  font-size: 0.8vw;
  padding-top: 0;
}
.prices_boxes section table td.unlimited_price_breakdown {
  padding: 2% 1% 1% 0;
  font-size: 0.8vw;
}
p.yearly_disclaimer {
  position: absolute;
  top: 36vw;
  left: 37vw;
}
table tr td.price_breakdown {
  /*padding-bottom: 3%;*/
  padding-bottom: 0;
}
p.new_member_disclaimers {
  position: absolute;
  top: 8vw;
  left: 3.5vw;
}
p.class_packages_disclaimers.first {
  position: absolute;
  top: 68vw;
  left: 21vw;
  color: #7e7e7e;
}
.add_ons {
  color: #7E7E7E;
  padding: 3% 2%;
  border: 2px solid #E7A905;
  padding: 3% 2% 6% 2%;
  color: #7E7E7E;
  background-color: #fff;
  min-height: 9vw;
}
.add_ons h3 {
  font-size: 1.8vw;
  font-family: 'Open Sans', sans-serif;
  padding: 1% 0 1% 0;
}
.add_ons_underline {
  display: block;
  border: 1px solid #E7A905;
}
.add_ons p{
  padding: 1% 0;
}
section.glow_guidelines {
  padding: 0 0 4% 3%;
  color: #7E7E7E;
}
.guidelines_header {
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw; 
}
span.glow_guidlines_font {
  font-family: 'foxglow-regular';
  color: #E7A905;
  font-size: 7vw;
  font-weight: 100;
  padding-right: 1%;
}
hr.guidelines_underline {
  color: #ad7f04;
  border: 3px solid #fff;
  width: 27vw;
  margin: -1% 0 1% 1.5%;
}
.glow_guidelines p,
.glow_guidelines ul {
  line-height: 1.8vw; 
  font-size: 1vw;
}
.glow_guidelines ul {
  padding-left: 3%;
}

/*PRICING QUERIES________________*/

/*annoying positioning issue*/
@media screen and (max-width: 2050px) and (min-width: 1500px) {
  p.class_packages_disclaimers.first {
    top: 66vw;
  }
}
@media screen and (max-width: 2000px) and (min-width: 845px) {
  p.yearly_disclaimer {
    top: 36vw;
  }
}
@media screen and (max-width: 844px) and (min-width: 734px) {
  p.yearly_disclaimer {
    top: 36.5vw;
    left: 36vw;
  }
}
@media screen and (max-width: 1265px) and (min-width: 111px) {
  p.class_packages_disclaimers.first {
    top: 70.5vw;
    left: 22vw;
  }
}
@media screen and (max-width: 811px) and (min-width: 734px) {
  .prices_boxes section {
    width: 32%;
  }
  hr.guidelines_underline {
    border: 1px solid #fff;
  }
}
/*______________________________*/

@media screen and (max-width: 733px) {
  .prices_boxes section,
  .prices_boxes section.two_thirds {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section h3.pricing_header  {
    font-size: 2.5vw;
  }
  .prices_boxes section table td {
    font-size: 1.8vw;
  }
  table tr td.price_breakdown {
    font-size: 1.2vw;
  }
  p.class_packages_disclaimers.first {
    top: 143.5vw;
    left: 38vw;
  }
  p.new_member_disclaimers {
    position: absolute;
    top: 14.5vw;
    left: 25.5vw;
  }
  .prices_boxes section div.mat_towel {
    position: static;
    top: 7vw;
  }
  section.glow_guidelines {
    padding: 0% 0 5% 12%;
  }
  .glow_guidelines p,
  .glow_guidelines ul {
    font-size: 1.8vw;
    line-height: 2.5vw;
  }
  hr.guidelines_underline {
    border: 2px solid #fff;
    width: 27vw;
    margin: -1% 0 1% 1.5%;
  }
   p.yearly_disclaimer {
    top: 42vw;
  }
}

@media screen and (max-width: 480px) and (min-width: 420px) {
  p.class_packages_disclaimers.first {
      top: 148.5vw;
      left: 38vw;
  }
}
@media screen and (max-width: 420px){
  .prices_boxes section,
  .prices_boxes section.two_thirds {
    width: 92%;
  }
  section h3.pricing_header {
    font-size: 4vw;
  }
  .prices_boxes section table td {
    font-size: 2.5vw;
  }
  p.class_packages_disclaimers,
  p.new_member_disclaimers,
  table tr td.price_breakdown,
  p.yearly_disclaimer {
    font-size: 1.5vw;
  }
  p.class_packages_disclaimers.first {
    top: 185.5vw;
    left: 28vw;
  }
  p.new_member_disclaimers {
    position: absolute;
    top: 17.5vw;
    left: 21.5vw;
  }
  hr.guidelines_underline {
    border: 1px solid #fff;
    width: 27vw;
    margin: -1% 0 1% 1.5%;
  }
  p.yearly_disclaimer {
    top: 104.5vw;
    left: 28vw;
  }
}
@media screen and (max-width: 390px){
  section h3.pricing_header,
  .guidelines_header {
    font-size: 4.3vw;
  }
  span.glow_guidlines_font {
    font-size: 13vw;
  }
  .prices_boxes section table td {
    font-size: 3.3vw;
  }
  p.class_packages_disclaimers.first {
    top: 199.5vw;
    left: 24vw;
  }
  p.new_member_disclaimers {
    position: absolute;
    top: 18vw;
    left: 18.5vw;
  }
  p.class_packages_disclaimers,
  p.new_member_disclaimers,
  table tr td.price_breakdown,
  p.yearly_disclaimer {
    font-size: 1.8vw;
  }
  hr.guidelines_underline {
    width: 31vw;
    margin: -1% 4% 1% 3.5%;
  }
  .glow_guidelines p, .glow_guidelines ul {
    font-size: 2.3vw;
    line-height: 3.1vw;
  }
  p.yearly_disclaimer {
    top: 114vw;
    left: 23vw;
  }
}
@media screen and (max-width: 375px) {
  p.yearly_disclaimer {
    top: 115vw;
    left: 23vw;
  }
  p.class_packages_disclaimers.first {
    top: 203.5vw;
  }
  .prices_boxes section div {
    box-shadow: 0px 4px 14px rgba(126,126,126,0.8);
  }
}
@media screen and (max-width: 360px) {
  p.class_packages_disclaimers.first {
      top: 208.5vw;
  }
}
@media screen and (max-width: 344px) {
  p.class_packages_disclaimers.first {
      top: 206.5vw;
  } 
  p.yearly_disclaimer{
    top: 116vw;
  }
}

/*schedule.html_____________________________*/
main#schedule_embed,
main#events_embed {
  background-color: #F9F2DE;
}
div#mb_schedule,
div#mb_events {
  margin: 0 5%;
  padding: 2% 0;
}


