@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Dancing+Script');

*{
	margin: 0;
	padding: 0;
}

img{
	display: block;
	width: 100%;
}


a{
	color: inherit;
	text-decoration: none;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

#container{
	width: 100%;
	margin: 0 auto;
}

header{
	background:rgba(255,255,255, 0.65);
	padding-top: 2%;
}

header #header_left{
	width: 25%;
	float: left;
	box-sizing: border-box;
}

#header_left img{
	width: 53%;
    height: auto;
    margin: 0 auto;
    padding-top: 4%;
    padding-left: 9%;
}

header #header_center {
	width: 45%;
	float: left;
	box-sizing: border-box;
}

header #header_center .center_left{
	width: 45%;
	float: left;
	box-sizing: border-box;
}

#header_center .center_left img{
	width: 93%;
    height: auto;
    margin: 0 auto;
    padding-left: 26%;
}

header #header_center .center_right{
	width: 55%;
	float: right;
	box-sizing: border-box;
}

#header_center .center_right img{
	width: 80%;
    height: auto;
    padding-top: 22%;
    padding-left: 21%;
}

header #header_center h1{
	display: none;
}

header #header_right{
	width: 30%;
	float: right;
	box-sizing: border-box;
}

#header_right h3{
	padding-left: 34%;
	padding-top: 19%;
	color: goldenrod;
	color: #ad7f04;
	font-size: 1.8vw;
	font-family: "Raleway";
	letter-spacing: .175vw;
}

nav{
	box-sizing:border-box;
}

nav ul{
	width: 57.5%;
    background-color: transparent;
    position: relative;
    top: -4vh;
    left: 36%;
}

nav ul li{
	width: 25%;
	float: left;
	list-style: none;
}

nav ul li a{
	letter-spacing: .25vw;
}


/***********  Dropdown Nav Style  ***********/


/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #ad7f04;
    /*font-size: 16px;*/
    font-size: 18px;
    font-size: 100%;
    border: none;
    cursor: pointer;
}
/* Style The Dropdown Button */
.dropbtn.events {
	padding-left: 12%; 
}
.dropbtn.contact {
	padding-left: 10%; 
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 23%;
}

.dropdown .dropbtn a{
	/*text-transform: lowercase;*/
	text-transform: uppercase;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 179px;
    letter-spacing: .1vw;
    z-index: 200000000;
    background-color: #fff;
}

/* Links inside the dropdown */
.dropdown-content a {
    background-color: #fff;
    color: #e7a905;
    font-family: "Raleway";
    font-size: 1.1vw;
    padding: 16px 23px 12px 27px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: goldenrod;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn a {
    color: #575e68;
    color: #7E7E7E;
    font-weight: bold;
}

/***********  End Dropdown Nav Style  ***********/

/*section{
	background-color: white;
}*/

#slider{
	/*margin-bottom: 2.5%;*/
	/*margin-left: 2.5%;
	margin-right: 2.5%;*/
	background-color: white;
}

#slider img{
	height: 40vw;
}
#welcome_message,
#boxes {
	background-color: #f9f2de;
}
#welcome_message{
	/*margin-bottom: 2.5%;*/
	/*margin-left: 2.5%;
	margin-right: 2.5%*/;
	/*background:rgba(255,255,255, 0.75);*/
	padding: 7.5%;
}

#welcome_message .welcome_font{
	font-family: "Dancing Script";
    color: goldenrod;
    font-size: 175%;
    font-weight: bold;
    padding-left: .25%;
    padding-right: .25%;
    line-height: 0;
    letter-spacing: .15vw;
}

#welcome_message h3{
	padding-bottom: 1.5%;
	text-align: center;
	letter-spacing: .25vw;
	font-family: "Raleway";
}

#welcome_message h3 img{
	display: inline-block;
	width: 2%;
	height: auto;
}

#welcome_message p{
	text-align: justify;
	text-justify: auto;
	font-family: "Open Sans";
	text-align: center;
	color: #7e7e7e;
    line-height: 4.25vh;
}

#boxes .box{
	box-sizing: border-box;
	width: 30%;
	margin-bottom: 2.5%;
	float: left;
	background:rgba(255,255,255, 0.75);
}

#boxes .box .boxes_top{
	height: 31vw;
}

#boxes .box img{
	height: 100%;
	width: 100%;
}

#boxes .box .boxes_bottom h4{
	text-align: center;
	text-transform: uppercase;
	font-family: "Raleway";
	padding-top: 5%;
	padding-bottom: 5%;	
}

#boxes_left{
	/*background-image: url(cycle_sample_1.jpeg);*/
	margin-left: 2.5%;
	margin-right: 2.5%;
	transition: all 0.5s ease;
}

#boxes_left:hover{
	-webkit-filter: sepia(50%); /* Safari 6.0 - 9.0 */
    filter: sepia(50%);
}

#boxes_center{
	/*background-image: url(cycle_sample_2.jpeg);*/
	transition: all 0.5s ease;
}

#boxes_center:hover{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#boxes_right{
	margin-left: 2.5%;
	margin-right: 2.5%;
	transition: all 0.5s ease;
}

#boxes_right:hover{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer{
	text-align: center;
	font-family: "Raleway";
	letter-spacing: .2vw;
	background:rgba(255,255,255, 0.75);
	padding-top: 2.5%;
	color: #ad7f04;
	background-color: rgba(249, 242, 222, 0.4);
}

footer #footer_left{
	width: 30%;
	float: left;
	box-sizing: border-box;
}

footer #footer_left i{
	font-size: 2vw;
}

footer #footer_left #i_center{
	padding-left: 15%;
	padding-right: 15%;
}

footer #footer_center{
	width: 40%;
	float: left;
	box-sizing: border-box;
	color: #7e7e7e;
	padding-top: 0.5%;
}

footer #footer_right{
	width: 30%;
	float: left;
	box-sizing: border-box;
}

footer #footer_right h5{
	font-size: 1.35vw;
}
footer #footer_bottom {
    /*background-color: rgba(249, 242, 222, 0.4);*/
    color: #7e7e7e;
    height: 100%;
    margin-top: 2.5%;
    padding: 1% 0;
}

/*FAQ PAGE_________________________________________*/
#faq_right{
	width: 40%;
	float: right;
	box-sizing: border-box;
}

#faq_right img{
	width: 27.5vw;
	padding-top: 5%;
	height: auto;
	margin: 0 auto;
}

#faq_left{
	padding-top: 5%;
	width: 60%;
	float: left;
	box-sizing: border-box;
}

#faq_left h3{
	box-sizing: border-box;
	text-align: center;
	width: 80%;
	margin: .5% 5% 0% 15%;
	padding:1.75% 0% 1.75% 0%;
	color: #434343;
	background-color: #ad7f04;
	text-transform: lowercase;
    letter-spacing: 0.2vw;
    font-family: "Raleway"
}

#faq_left h3:hover{
	background-color: silver;
}

#faq_left p{
	box-sizing: border-box;
	width: 80%;
	margin: 0% 5% 0% 15%;
	padding: 0% 5% 2% 5%;
	color: #434343;
	background-color: silver;
	text-align: justify;
	font-family: "Raleway";
}

/***********  END FAQ.HTML  ***********/

/***********  START FAMILY.HTML  ***********/

.instructor{
	margin: 2.5% 0% 2.5% 0%;
	box-sizing: border-box;
}

.instructor_photo{
	width: 40%;
	float: left;
	box-sizing: border-box;
}

.instructor_photo img{
	width: 25vw;
	height: auto;
	margin: 0 auto;
}

.instructor_bio{
	width: 60%;
	float: right;
	box-sizing: border-box;
}

.instructor_bio h3{
	padding: 2.5% 10% 0% 0%;
	font-family: "Raleway";
	color: #7e7e7e;
	font-size: 2.5vw;
    letter-spacing: .1vw;
}

.instructor_bio h4{
	padding: .75% 10% 0% 0%;
	font-family: "Dancing Script";
	color: #ad7f04;
	font-size: 2.55vw;
    letter-spacing: .125vw;
}

.instructor_bio p{
	text-align: justify;
	text-justify: auto;
	padding: 1.5% 10% 5% 0%;
	font-family: "Open Sans";
	color: #7e7e7e;
	font-size: 1.65vw;
	box-sizing: border-box;
}

/***********  END FAMILY.HTML  ***********/
