/*style.css*/

/*FONTS_________________________________________*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Dancing+Script');
@font-face {
    font-family: 'foxglow-regular';
    src: url('../fonts/Foxglow-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/*GLOBALS_______________________________________*/
*{
	margin: 0;
	padding: 0;
}

img{
	display: block;
	width: 100%;
}


a{
	color: inherit;
	text-decoration: none;
}

.clearfix:after{
	content:"";
	display: block;
	clear: both;
}

#container{
	width: 100%;
	margin: 0 auto;
}

/*EVERYTHING ELSE_________________________________________*/

.full_header_nav{
	visibility: visible;
}

header{
	background:rgba(255,255,255, 0.65);
	padding-top: 2%;
}

header #header_left{
	width: 25%;
	float: left;
	box-sizing: border-box;
}

#header_left img{
	width: 65%;
    height: auto;
    margin: 0 auto;
    padding-left: 20%;
}

header #header_center {
	width: 45%;
	float: left;
	box-sizing: border-box;
}

header #header_center .center_left{
	width: 45%;
	float: left;
	box-sizing: border-box;
}

#header_center .center_left img{
	width: 93%;
    height: auto;
    margin: 0 auto;
    padding-left: 26%;
}

header #header_center .center_right{
	width: 55%;
	float: right;
	box-sizing: border-box;
}

#header_center .center_right img{
	width: 80%;
    height: auto;
    padding-top: 22%;
    padding-left: 21%;
}

header #header_center h1{
	display: none;
}

header #header_right{
	width: 30%;
	float: right;
	box-sizing: border-box;
	text-align: center;
	color: #ad7f04;
}

#header_right h3{
	padding-left: 40%;
	padding-top: 12%;
	color: goldenrod;
	color: #ad7f04;
	font-size: 1.8vw;
	font-family: "Raleway";
	letter-spacing: .175vw;
}
#header_phone_number {
	width: 16vw;
    margin-top: -4%;
    margin-left: -19%;
}
#header_social {
	margin-left: 12%;
}
.header_social_icons {
	padding: 2.5% 2%;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #7e7e7e;
    -webkit-box-shadow: 0px 0px 2px #7e7e7e;
    box-shadow: 0px 0px 2px #7e7e7e;
    margin: 0 2%;
}
.fa.fa-lg {
	font-size: 1.6vw;
}
.fa-facebook.header_social_icons {
	padding: 2.5% 3%;
}
.fa-instagram.header_social_icons {
	padding: 2.5% 2.3%;
}
nav{
	box-sizing:border-box;
	height: 1vw;
}

nav ul{
	width: 57.5%;
    background-color: transparent;
    position: relative;
    top: -2vw;
    left: 36%;
}

nav ul li{
	width: 25%;
	float: left;
	list-style: none;
}

nav ul li a{
	letter-spacing: .25vw;
}


/***********  Dropdown Nav Style  ***********/


/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #ad7f04;
    /*font-size: 16px;*/
    font-size: 18px;
    font-size: 1.3vw;
    border: none;
    cursor: pointer;
}
/* Style The Dropdown Button */
.dropbtn.events {
	padding-left: 12%; 
}
.dropbtn.contact {
	padding-left: 10%; 
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
	font-family: 'Open Sans', sans-serif;
    position: relative;
    display: inline-block;
    padding-left: 23%;
}

.dropdown .dropbtn a{
	text-transform: lowercase;
	/*text-transform: uppercase;*/
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 188px;
    letter-spacing: .1vw;
    z-index: 200000000;
    background-color: #fff;
    text-transform: lowercase;
}

/* Links inside the dropdown */
.dropdown-content a {
    background-color: #fff;
    color: #e7a905;
    font-family: "Raleway";
    font-size: 1vw;
    padding: 16px 23px 15px 27px;
    text-decoration: none;
    display: block;
}
.dropdown-content a .d_font{
	/*font-family: "Dancing Script";*/
    font-family: 'foxglow-regular';
    color: #e7a905;
    text-transform: lowercase;
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: initial;
}
.dropdown-content a.dropdown_padding_none {
	padding: 0 23px 0 27px; 
}
.dropdown-content a.dropdown_padding_add {
	padding-top: 22px; 
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: goldenrod;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn a {
    color: #575e68;
    color: #7E7E7E;
    font-weight: bold;
}

/***********  End Dropdown Nav Style  ***********/

/**-*-*-*-*-*  START MOBILE HEADER/NAV STYLING  *-*-*-*-*-**/

.mobile_header_nav{
	display: none;
}

header #hamburger_nav{
  box-sizing: border-box;
  width: 25%;
  float: left;
}

header #hamburger_nav{
  color: #cdcdcd;
  font-family: "Open Sans", "Avenir", sans-serif;
}

header #hamburger_nav a{
  text-decoration: none;
  color: #7e7e7e;
  text-transform: lowercase;
  transition: color 0.3s ease;
}

header #hamburger_nav a .glow_hamburger{
	font-family: "Dancing Script";
	color: #ad7f04;
	font-size: 10vw;
}

header #hamburger_nav a:hover{
  color: #ad7f04;
}

header #hamburger_nav #menuToggle{
  display: block;
  position: relative;
  top: 35px;
  left: 8vw;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

header #hamburger_nav #menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
 
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
header #hamburger_nav #menuToggle .burger_line
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ad7f04;
  /*background: silver;*/
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

header #hamburger_nav #menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

header #hamburger_nav #menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*transform hamburger to X*/

header #hamburger_nav #menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #7e7e7e;
}

/*hide middle line of hamburger menu*/

header #hamburger_nav #menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
header #hamburger_nav #menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
header #hamburger_nav #menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -75px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

header #hamburger_nav #menu li{
  padding: 2.5% 0 2.5% 5%;
  font-size: 7.25vw;
}

/*
 * And let's fade it in from the left
 */
header #hamburger_nav #menuToggle input:checked ~ ul{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

header #header_text{
  box-sizing: border-box;
  width: 75%;
  float: right;
}

#header_text #text_left{
  box-sizing: border-box;
  width: 75%;
  float: left;
}

#text_left #tl_top{
  box-sizing: border-box;
}


#text_left #tl_top img{
  display: inline-block;
}

#tl_top .left{
  box-sizing: border-box;
  width: 50%;
  float: left;
}

#tl_top .right{
  box-sizing: border-box;
  width: 50%;
  float: right;
}

#mh_glow{
    width: 28.5vw;
    height: auto;
    padding-top: 8%;
}

#mh_hotyoga{
    width: 40vw;
    height: auto;
    padding-top: 30%;
    padding-left: 7%;
}

#mh_phone{
    position: absolute;
    top: 10vh;
    right: 2vw;
    width: 65%;
    float: right;
}

/**-*-*-*-*-*  END MOBILE HEADER/NAV STYLING  *-*-*-*-*-**/

#slider{
	padding-top: 1%;
	background-color: #f9f2de;
}

#slider img{
	height: 40vw;
}
#welcome_message,
#boxes {
	background-color: #f9f2de;
	padding-bottom: 3%;
}
#welcome_message{
	padding: 7.5%;
}

#welcome_message #hidden_lotus{
	display: none;
}

#welcome_message .welcome_font{
	font-family: 'foxglow-regular';
    color: #e7a905;
    font-size: 3.5vw;
    font-weight: 500;
    padding-left: .25%;
    padding-right: .25%;
    line-height: 0;
    letter-spacing: normal;
}

#welcome_message h3{
	color: #7e7e7e;
	padding-bottom: 2.5%;
	text-align: center;
	letter-spacing: .2vw;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 2.5vw;
}
#welcome_message h3 #welcome_font_h3{
    font-family: 'foxglow-regular', cursive;
    color: #e7a905;
    font-size: 7.5vw;
    font-weight: 500;
    padding-left: .25%;
    padding-right: .25%;
    line-height: 0;
    letter-spacing: normal;
}

#welcome_message p{
	text-align: justify;
	text-justify: auto;
	font-family: "Raleway", sans-serif;
	font-size: 1.1vw;
	text-align: center;
	color: #7e7e7e;
    line-height: 5vh;
}

#welcome_message h4{
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    color: #7e7e7e;
    font-size: 2.5vw;
    letter-spacing: .2vw;
    padding-top: 5.5%;
}

#welcome_message h4 span{
	color: #e7a905; 
	font-size: 2.25vw;
	padding: 0% 3.5% 0% 3.5%;
}

#boxes .box{
	box-sizing: border-box;
	width: 30%;
	margin-bottom: 2.5%;
	float: left;
	background:rgba(255,255,255, 0.75);
}

#boxes .box .boxes_top{
	height: 31vw;
}

#boxes .box img{
	height: 100%;
	width: 100%;
}

#boxes .box .boxes_bottom h4{
	text-align: center;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	color: #7e7e7e;
	font-size: 1.35vw;
	padding-top: 5%;
	padding-bottom: 5%;	
}

#boxes_left{
	/*background-image: url(cycle_sample_1.jpeg);*/
	margin-left: 2.5%;
	margin-right: 2.5%;
	transition: all 0.5s ease;
}

#boxes_left:hover{
	-webkit-filter: sepia(50%); /* Safari 6.0 - 9.0 */
    filter: sepia(50%);
}

#boxes_center{
	/*background-image: url(cycle_sample_2.jpeg);*/
	transition: all 0.5s ease;
}

#boxes_center:hover{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#boxes_right{
	margin-left: 2.5%;
	margin-right: 2.5%;
	transition: all 0.5s ease;
}

#boxes_right:hover{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer{
	text-align: center;
	font-family: "Raleway";
	letter-spacing: .2vw;
	background:rgba(255,255,255, 0.75);
	padding-top: 2.5%;
	color: #ad7f04;
	/*background-color: rgba(249, 242, 222, 0.4);*/
}

footer #footer_left{
	width: 30%;
	float: left;
	box-sizing: border-box;
	padding-top: 0.3%;
}

footer #footer_left i{
	box-sizing: border-box;
	font-size: 1.65vw;
}

footer #footer_left #i_center{
	padding-left: 15%;
	padding-right: 15%;
}

footer #footer_center{
	width: 40%;
	float: left;
	box-sizing: border-box;
	color: #7e7e7e;
	padding-top: 0.5%;
	font-size: 1.5vw;
}

footer #footer_right{
	width: 30%;
	float: left;
	box-sizing: border-box;
}

footer #footer_right h5{
	box-sizing:border-box;
	font-size: 1.65vw;
}

footer h6 {
	box-sizing:border-box;
	color: #7e7e7e;
	font-size: 0.8vw;
	padding-bottom: 1vw;
	margin-top: 4vw;
}

footer h6 a:hover{
	color: #ad7f04;
}

/*************** FAQ.HTML  ***********/
#faq_page{
	background-color: #f9f2de;
	padding: .25% 0% 1.25% 0%;
}

#faq_right{
	width: 40%;
	float: right;
	box-sizing: border-box;
}

#faq_right img{
	width: 27.5vw;
	padding-top: 5%;
	height: auto;
	margin: 0 auto;
}

#faq_left{
	padding-top: 3.75%;
	width: 60%;
	float: left;
	box-sizing: border-box;
}

#faq_left h3{
	box-sizing: border-box;
	font-size: 1.3vw;
	text-align: center;
	width: 80%;
	margin: .5% 5% 0% 15%;
	padding:1.75% 0% 1.75% 0%;
	color: #434343;
	background-color: rgb(216, 182, 106);
	/*text-transform: lowercase;*/
    letter-spacing: 0.2vw;
    font-family: "Open Sans";

}

#faq_left h3:hover{
	background-color: #cccac7;
}

#faq_left p{
	box-sizing: border-box;
	font-size: 1.2vw;
	width: 80%;
	margin: 0% 5% 0% 15%;
	padding: 0% 5% 2% 5%;
	color: #434343;
	background-color: #cccac7;
	text-align: justify;
	font-family: "Raleway";
}

/***********  END FAQ.HTML  ***********/

/***********  START FAMILY.HTML  ***********/

#family_page{
	background-color: #f9f2de;
	padding: .25% 0% 1.25% 0%;
}

.instructor{
	margin: 2.5% 0% 2.5% 0%;
	box-sizing: border-box;
}

.instructor .instructor_photo{
	width: 40%;
	float: left;
	box-sizing: border-box;
}

.instructor_2 .instructor_photo{
	width: 40%;
	float: right;
	box-sizing: border-box;
}

.instructor_photo img{
	width: 25vw;
	height: auto;
	margin: 0 auto;
}

.instructor .instructor_bio{
	width: 60%;
	float: right;
	box-sizing: border-box;
}

.instructor .instructor_bio{
	width: 60%;
	float: left;
	box-sizing: border-box;
}

.instructor_bio h3{
	font-family: "Raleway";
	color: #7e7e7e;
	font-size: 2.5vw;
    letter-spacing: .1vw;
}

.instructor .instructor_bio h3{
	padding: 2.5% 10% 0% 0%;
}

.instructor_2 .instructor_bio h3{
	padding: 2.5% 0% 0% 10%;
}

.instructor_bio h4{
	font-family: "Dancing Script";
	color: #ad7f04;
	font-size: 2.55vw;
    letter-spacing: .125vw;
}

.instructor .instructor_bio h4{
	padding: .75% 10% 0% 0%;
}

.instructor_2 .instructor_bio h4{
	padding: .75% 0% 0% 10%;
}

.instructor_bio p{
	text-align: justify;
	text-justify: auto;
	font-family: "Open Sans";
	color: #7e7e7e;
	font-size: 1.65vw;
	box-sizing: border-box;
}

.instructor .instructor_bio p{
	padding: 1.5% 10% 5% 0%;
}

.instructor_2 .instructor_bio p{
	padding: 1.5% 0% 5% 10%;
}

/***********  END FAMILY.HTML  ***********/

/***********  START SPACE.HTML  ***********/

#space_page{
	background-color: #f9f2de;  
}

#space_intro{
	padding: 2.5% 5% 2.5% 5%;
	box-sizing: border-box;
}

#space_intro h3{
	text-align: center;
	font-family: "Raleway";
	font-size: 1.65vw;
	color: #ad7f04;
	padding-bottom: 1%;
}

#space_intro p{
	text-align: center;
	text-align: justify;
	text-justify: auto;
	font-family: "Open Sans";
	font-size: 1.25vw;
	color: #7e7e7e;
	padding: 0% 1% 0% 1%;
}

#space_images .space{
	width: 33.33%;
	float: left;
	box-sizing: border-box;
}

#space_images{
	margin: 2.5% 2.5% 0% 2.5%;
}

#space_images .space{
	margin-bottom: 2.5%;
}

#space_images .space img{
	width: 25vw;
	height: 45vh;
	margin: 0 auto;
}

#space_images .space h4{
	padding-top: 5%;
	text-align: center;
	font-family: "Raleway";
	font-size: 1.3vw;
	text-transform: lowercase;
	color: #7e7e7e;
}


/***********  END SPACE.HTML  ***********/

/***********  START EVENTS.HTML  ***********/
#events_page{
	background-color: #f9f2de;
	padding: .25% 0% 2.5% 0%;
}

#events_page .event{
	margin: 2.5% 5% 2.5% 5%;
	box-sizing: border-box;
}

#events_page .event .event_left{
	width: 25%;
	float: left;
	box-sizing: border-box;
}

#events_page .event .event_left img{
	width: 12vw;
	height: auto;
	margin: 0 auto;
}

#events_page .event .event_right{
	width: 75%;
	float: right;
	padding-left: 2.5%;
	box-sizing: border-box;
}

#events_page .event .event_right h3{
	font-family: "Raleway";
	color: #7e7e7e;
	font-size: 2.25vw;
    letter-spacing: .1vw;
    padding-bottom: .5%;
}

#events_page .event .event_right h4{
	font-family: "Raleway";
	color: #ad7f04;
	font-size: 1.85vw;
    letter-spacing: .125vw;
    padding-bottom: 1%;
}

#events_page .event .event_right p{
	font-family:  "Open Sans";
	text-align: justify;
	color: #7e7e7e;
	font-size: 1.4vw;
}

/***********  END EVENTS.HTML  ***********/

/***********  START STYLES.HTML  ***********/

#styles_page{
	background-color: #f9f2de;
	padding: .25% 0% 2.5% 0%;
}

#styles_page #styles_top{
	margin: 2.5% 0% 0% 5%;
	box-sizing: border-box;
}

#styles_page #styles_top .styles_desc_top{
	width: 27.5%;
	float: left;
	padding-right: 2.5%;
	box-sizing: border-box;
}

#styles_page h3{
	font-family: "Dancing Script";
	text-transform: lowercase;
	color: #ad7f04;
	font-weight: bold;
	font-size: 2.35vw;
}

#styles_page h4{
	font-family: "Dancing Script";
	text-transform: lowercase;
	/*color: #4e4e4f;*/
	/*color: #d3b332;*/
	color: #b2972a;
	font-size: 1.75vw;
	padding-bottom: .5vh;
}

#styles_page h4 span{
	font-size: 1.5vw;
}

#styles_page p{
	font-family: "Open Sans";
	color: #7e7e7e;
	text-align: justify;
	font-size: 1.2vw;
}

#styles_page #styles_top .styles_img_top{
	width: 45%;
	float: right;
}

#styles_page #styles_top .styles_img_top img{
	padding-top: 5.5%;
	width: 30vw;
	height: auto;
	margin: 0 auto;
}

#styles_page #styles_center{
	box-sizing: border-box;
	margin: 2.5% 5% 0% 5%;
}

#styles_page #styles_bottom{
	box-sizing: border-box;
	margin: 2.5% 5% 0% 0%;
}

#styles_bottom .styles_desc_bottom{
	width: 27.5%;
	float: right;
	padding-left: 2.5%;
	box-sizing: border-box;
}

#styles_bottom .styles_img_bottom{
	width: 45%;
	float: left;
}

#styles_bottom .styles_img_bottom img{
	padding-top: 5.5%;
	width: 30vw;
	height: auto;
	margin: 0 auto;
}

/***********  END STYLES.HTML  ***********/

/*--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES*/
/*--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES*/
/*--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES*/
/*--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES*/
/*--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES--MEDIA QUERIES*/


/*-*-*-*-*-*  START INDEX.HTML MEDIA QUERIES *-*-*-*-*-*/

@media screen and (max-width: 420px){

    .full_header_nav{
        display: none;
    }

    #slider{
    	display: none;
    }

    .mobile_header_nav{
        display: block;
        margin-bottom: 111px;
    }

	.mobile_header_nav #menu li{
		padding: 2.5% 0 2.5% 5%;
  		font-size: 7.25vw;
  		list-style: none;
  		width: 100%;
  		float: none;
	}

	#welcome_message #hidden_lotus{
	display: block;
	padding-bottom: 3.5%;
	}

	#welcome_message #hidden_lotus img{
	width: 80vw;
	height: auto;
	margin: 0 auto;
	}

	#welcome_message h3{
		font-size: 5.5vw;
		padding-bottom: 5.5%;
	}

	#welcome_message h3 #welcome_font_h3{
		font-size: 16.5vw;
		padding-left: 1.1%;
	}

	#welcome_message p{
		font-size: 4.5vw;
		line-height: 3.5vh;
	}

	#welcome_message .welcome_font{
		font-size: 11vw;
		padding-left: 1%;
	}

	#welcome_message h4{
		font-size: 4vw;
	}

	#welcome_message h4 span{
		font-size: 4.25vw;
	}

	#boxes .box .boxes_bottom h4{
		font-size: 2.7vw;
	}

	footer{
		padding-top: 4.5%;
	}

	footer #footer_left{
		width: 100%;
		float: none;
	}

	footer #footer_left i{
		font-size: 5vw;
	}

	footer #footer_left #i_center{
		padding-left: 25%;
    	padding-right: 30%;
	}

	footer #footer_center{
		width: 100%;
		float: none;
		padding-top: 3.5%;
	}

	footer #footer_center h5{
		font-size: 4vw;
	}

	footer #footer_right{
		display: none;
	}

	footer h6{
		text-align: center;
		font-size: 2.25vw;
	}

}

/*-*-*-*-*-*  END INDEX.HTML MEDIA QUERIES *-*-*-*-*-*/

/*-*-*-*-*-*  START STYLES.HTML MEDIA QUERIES *-*-*-*-*-*/

@media screen and (max-width: 420px){

	.styles_img_top, .styles_img_bottom{
		display: none;
	}

	#styles_page #styles_top .styles_desc_top{
		width: 100%;
		float: none;
		padding-right: 5.5%;
	} 

	#styles_bottom .styles_desc_bottom{
		width: 100%;
		float: none;
		padding-left: 5.5%;
	}

	#styles_page h3{
		font-size: 7.5vw;
    	padding-top: 2vh;
	}

	#styles_page h4{
		font-size: 6vw;
	}

	#styles_page h4 span {
    font-size: 4.5vw;
	}

	#styles_page p{
		font-size: 3.75vw;
	}

	#styles_page{
		padding-bottom: 7.5%;
	}

}	

/*-*-*-*-*-*  END STYLES.HTML MEDIA QUERIES *-*-*-*-*-*/

/*-*-*-*-*-*  START FAQ.HTML MEDIA QUERIES *-*-*-*-*-*/

@media screen and (max-width: 420px){

	#faq_right{
		display: none;
	}

	#faq_left{
		width: 100%;
		float: none;
		padding: 5%;
	}

	#faq_left h3{
		width: 100%;
		margin: 1.5% auto;
		font-size: 4.75vw;

	}

	#faq_left p{
		width: 100%;
		margin: 0 auto;
		font-size: 3.75vw;
	}

}

/*-*-*-*-*-*  END FAQ.HTML MEDIA QUERIES *-*-*-*-*-*/


